<!-- 秒杀专栏-->
<div class="main_6_seckill">

    <!--标题-->

    <div class="seckill_title">
        <span><span>秒杀</span>商品专区</span>
    </div>

    <!--商品列表-->

    <div class="seckill_contain">

        <div class="seckill_list">
            <!-- 商品-->
            <a class="seckill_product" href="#">
                <!-- 商品图片-->
                <div class="seckill_image">
                    <img src="../../images/product_list_4.jpg">
                </div>
                <!-- 商品价格-->
                <div class="seckill_price">
                    <p>￥99.00</p>
                    <p>￥129.00</p>
                </div>
            </a>



        </div>

    </div>



</div>