<div class="jf_homepage_autoplay">

    <div class="jf_autoplay_images jf_autoplay_init">

        <a href="../jdshop_product/product.html">
            <div class="JD_banner_template">
                <div class="banner_tab pink">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>

                <div class="banner_paster">
                    <img src="../../images/banner_pink_sticker.png">
                </div>

                <div class="banner_background">
                    <img src="../../images/banner_pink_bg.jpg">
                </div>

                <div class="banner_theme pink" style="left:57%;top:19%">
                    <img src="../../images/banner_pink_theme.png">
                </div>

            </div>
        </a>

        <a href="../jdshop_product/product.html">
            <div class="JD_banner_template">
                <div class="banner_tab blue">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>


                <div class="banner_paster">
                    <img src="../../images/banner_blue_sticker.png">
                </div>


                <div class="banner_background">
                    <img src="../../images/banner_blue_bg.jpg">
                </div>

                <div class="banner_theme blue" style="left:7%;top:26%">
                    <img src="../../images/banner_blue_theme.png">
                </div>

            </div>
        </a>

        <a href="../jdshop_product/product.html">
            <div class="JD_banner_template">
                <div class="banner_tab purple">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>


                <div class="banner_paster">
                    <img src="../../images/banner_purple_sticker.png">
                </div>


                <div class="banner_background">
                    <img src="../../images/banner_purple_background.jpg">
                </div>

                <div class="banner_theme purple" style="left:34%;top:22%">
                    <img src="../../images/banner_purple_theme.png">
                </div>


            </div>
        </a>

        <a href="../jdshop_product/product.html">
            <div class="JD_banner_template">
                <div class="banner_tab green">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>


                <div class="banner_paster">
                    <img src="../../images/banner_green_sticker.png">
                </div>


                <div class="banner_background">
                    <img src="../../images/banner_green_background.jpg">
                </div>

                <div class="banner_theme green" style="left:66%;top:27%">
                    <img src="../../images/banner_green_theme.png">
                </div>


            </div>
        </a>

       <!-- <a href="#">
            <div class="JD_banner_template">
                <div class="banner_tab white">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>


                <div class="banner_background">
                    <img src="../../images/banner_white_background.jpg"/>
                </div>

                <div class="banner_theme white" style="left:12%;top:27%">
                    <img src="../../images/banner_white_theme.png"/>
                </div>


            </div>
        </a>

        <a href="#">
            <div class="JD_banner_template">
                <div class="banner_tab red">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>


                <div class="banner_background">
                    <img src="../../images/banner_red_background.jpg"/>
                </div>

                <div class="banner_theme red" style="left:9%;top:27%">
                    <img src="../../images/banner_red_theme.png"/>
                </div>


            </div>
        </a>

        <a href="#">
            <div class="JD_banner_template">
                <div class="banner_tab peony">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>


                <div class="banner_background">
                    <img src="../../images/banner_peony_background.jpg"/>
                </div>

                <div class="banner_theme peony" style="left:10%;top:13%">
                    <img src="../../images/banner_peony_theme.png"/>
                </div>

            </div>
        </a>

        <a href="#">
            <div class="JD_banner_template">
                <div class="banner_tab cyan">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>


                <div class="banner_background">
                    <img src="../../images/banner_cyan_background.jpg"/>
                </div>

                <div class="banner_theme peony" style="left:18%;top:18%">
                    <img src="../../images/banner_cyan_theme.png"/>
                </div>

            </div>
        </a>-->



    </div>

    <div class="jf_pagination">

    </div>

</div>

<script>

    jfAutoPlay.jfCarouselInit();

</script>