<!-- 顶部导航 -->
<nav class="top_shoppingcart_bar">
    <div class="tab_box"></div>
    <div class="top_shoppingcart_contain">
        <a class="left">
            <p class="icon_btn"></p>
            <p>嘉福平台</p>
        </a>
        <div class="content">

        </div>
        <a class="right">
            <p>编辑</p>
        </a>
    </div>
</nav>

<!-- 页面内容 -->
<div class="shopping_cart_module">


    <%- include('shopping_cart_module/shopping_cart_1_address.ejs')%>

    <%- include('shopping_cart_module/shopping_cart_2_instruction.ejs')%>

    <%- include('shopping_cart_module/shopping_cart_3_list.ejs')%>

</div>

<!-- 切换tab-->

<div class="shopping_cart">

    <!-- -->


    <!-- -->

</div>

<!-- 底部导航 -->
<%- include('../../component/common/bottomTabBar.ejs') %>




