<div class="search_find">
    <div class="search_find_title1">历史搜索</div>
    <div class="search_find_line">
        <a class="search_find_title" href="../jdshop_search/search_results.html">电脑主板</a>

        <a class="search_find_title" href="../jdshop_search/search_results.html">畅玩5c</a>

        <a class="search_find_title" href="../jdshop_search/search_results.html">n4s</a>

        <a class="search_find_title" href="../jdshop_search/search_results.html">电脑包</a>

        <a class="search_find_title">手工饰品</a>

        <a class="search_find_title">箱包手袋</a>

        <a class="search_find_title">美妆个护</a>

        <a class="search_find_title">钟表珠宝</a>

        <a class="search_find_title">手机数码</a>

        <a class="search_find_title">手工饰品</a>

        <a class="search_find_title">箱包手袋</a>

        <a class="search_find_title">美妆个护</a>

        <a class="search_find_title">钟表珠宝</a>

        <a class="search_find_title">手机数码</a>


    </div>
</div>