<div class="order_details_phone jdshop_shadow">
    <div class="text_list">
        <p><a href="tel:010-67891234">嘉福平台客服电话：010-67891234</a></p>
        <p class="time">（周一至周五9:00-18:00）</p>
        <p><a href="tel:400-606-6666">京东售后客服电话：400-606-6666</a></p>
    </div>
</div>