<div class="discount_dialog" id="order_discount">

    <div class="dialog_bg"></div>
    <div class="tip_dialog">
        <div class="text_dialog_container">
            <div class="text_big">选择优惠券</div>
            <div class="text_small">

                <!-- 优惠券 -->
                <div class="discount_list jdshop_shadow select_use">

                    <div class="discount_card jdshop_alignment_left">

                        <div class="discount_amount">
                            <span>20</span>
                            <p>立减券</p>
                        </div>
                        <div class="discount_explain">
                            <p>购物抵现券</p>
                            <p>限于平台【京东】商城所有品类购物抵现</p>
                        </div>

                    </div>

                    <div class="time">使用期限：2017.09.28 - 2017.10.29</div>
                </div>
                <!-- 优惠券 -->
                <div class="discount_list jdshop_shadow">

                    <div class="discount_card jdshop_alignment_left">

                        <div class="discount_amount">
                            <span>30</span>
                            <p>立减券</p>
                        </div>
                        <div class="discount_explain">
                            <p>购物抵现券</p>
                            <p>限于平台【京东】商城所有品类购物抵现</p>
                        </div>

                    </div>

                    <div class="time">使用期限：2017.09.28 - 2017.10.29</div>
                </div>
                <!-- 优惠券 -->
                <div class="discount_list jdshop_shadow">

                    <div class="discount_card jdshop_alignment_left">

                        <div class="discount_amount">
                            <span>100</span>
                            <p>立减券</p>
                        </div>
                        <div class="discount_explain">
                            <p>购物抵现券</p>
                            <p>限于平台【京东】商城所有品类购物抵现</p>
                        </div>

                    </div>

                    <div class="time">使用期限：2017.09.28 - 2017.10.29</div>
                </div>
                <!-- 优惠券 -->
                <div class="discount_list jdshop_shadow">

                    <div class="discount_card jdshop_alignment_left">

                        <div class="discount_amount">
                            <span>20</span>
                            <p>立减券</p>
                        </div>
                        <div class="discount_explain">
                            <p>购物抵现券</p>
                            <p>限于平台【京东】商城所有品类购物抵现</p>
                        </div>

                    </div>

                    <div class="time">使用期限：2017.09.28 - 2017.10.29</div>
                </div>
                <!-- 不使用优惠券 -->
                <div class="discount_list jdshop_shadow no_discount">不使用优惠券</div>

            </div>

        </div>
    </div>


</div>


