.product_details_main{
  position: relative;
  padding: 10px 15px 5px 15px;
  .product_title{
    width: 100%;
    .product_name{
      width: 80%;
      width: calc( 65vh );
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-size: 16px;
      line-height: 20px;
    }
    .product_praise{
      width: 20%;
      width: calc( 100% - 65vh );
      text-align: right;
      p{
        font-size: 12px;
        color: #9c9c9f ;
        span{
          font-size: 14px;
          color: #ff4646;
        }
      }
      p+p{
        font-size: 10px;
        white-space: nowrap;
      }
    }
  }
  .product_imf{
    width: 100%;
    .product_price{
      font-size: 16px;
      font-weight: bold;
      color: #ff4646;
      span{
        font-size: 22px;
      }
    }

  }
  &:before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 15px;
    box-sizing: border-box;
    width: 92%;
    height: 1px;
    color: #ddd;
    border: 1px solid #ddd;
    transform-origin: 0 0;
    transform: scaleY(.2);
  }
}

.product_additional_goods{
  text-align: right;
  width: 30%;
  font-size: 12px;
  .red_acc,.org_gift{
    position: relative;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    padding: 2px 6px;

    &:before{
      left: -4px;
    }

    &:after{
      right: -4px;
    }

    &:after,&:before{
      content: '';
      position: absolute;
      top: 6px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      opacity: .4;
    }

  }
  .red_acc{

    color: #ff0200;
    margin-right: 8px;
    &:before,&:after{

      background-color: #ff0200 ;
    }

  }
  .org_gift{

    color: #fc8b00;
    &:before,&:after{

      background-color: #fc8b00 ;
    }

  }
}