<!--附件赠品-->
<div class="product_details_enclosure">
    <div class="product_details_acc" onclick="showProductAcc.show()">
        <!-- 附件 -->
        <!-- list 1-->
        <div class="details_contain_acc">
            <div class="details_acc_title">
                <span class="acc_title">附件</span>
                <div class="acc_tips">注：因促销活动随时变化，以下单时为准。</div>
            </div>
            <div class="details_acc_goods">
                <div class="goods_pic"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
                <div>
                    <div class="goods_title">Kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色</div>
                    <div class="goods_num">
                        <p>×<span>1</span></p>
                        <p>京东参考价：￥8888.00</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- list 2-->
        <div class="details_contain_acc" onclick="showProductAcc.show()">
            <div class="details_acc_goods">
                <div class="goods_pic"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
                <div>
                    <div class="goods_title">Kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色</div>
                    <div class="goods_num">
                        <p>×<span>1</span></p>
                        <p>京东参考价：￥8888.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 赠品 -->
    <div class="product_details_acc">
        <!-- 附件 -->
        <!-- list 1-->
        <div class="details_contain_acc" onclick="showProductAcc.show()">
            <div class="details_acc_title">
                <span class="gift_title">赠品</span>
                <div class="gift_tips">注：因促销活动随时变化，以下单时为准。</div>
            </div>
            <div class="details_acc_goods">
                <div class="goods_pic"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
                <div>
                    <div class="goods_title">Kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色</div>
                    <div class="goods_num">
                        <p>×<span>1</span></p>
                        <p>京东参考价：￥8888.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>