.product_autoPlay{
  position: relative;
  width: 100%;
  overflow: hidden;

}

  .product_details_autoPlay{
    width: 100%;
    height: calc(100vw);
    position: relative;
    transform:translateX(0);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &.contentchange{
      transition: all 0.2s linear;
    }

    div{
      width: 100%;
      text-align: center;
      height: 100%;
      flex-shrink: 0;

      img{
        width: 100%;
        box-shadow: 0 2px 3px #E9E9E9;
      }
    }

  }

  .allpoint{
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;


    span{
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 5px;
      border-radius: 50%;
      background: #dddddd;
      transition: all 0.3s linear;
    }

    .showpoint{
      background: #ff4646;
    }
  }




