 <!--导航条-->
 <div class="dangdao">
     <div class="tiantian" >
    <div class="fanhui">
        <img src="../../images/the_arrow.png">
        <span class="huihui">返回</span>
    </div>
    <div class="yinhang1">
        添加银行卡
    </div>
    <div class="kongkong">3</div>
</div>
     <div class="wuliao"></div>
 </div>
 <div class="zhuyi" >
    <img src="../../images/status_spot.png ">
     <span class="zijin">为了您的资金安全，需要验证您的身份</span>
 </div>
 <div class="wunai">
 <div class="bannk-position" >
     <div class="xingxing">
         <p class="chikaren"><i>*</i>持卡人</p>
         <p class="chikaren1">京晶倩</p>
     </div>
     <div class="xingxing">
         <p class="chikaren"><i>*</i>持卡人</p>
         <p class="chikaren1">京晶倩</p>
     </div>
     <div class="xingxing">
         <p class="chikaren"><i>*</i>持卡人</p>
         <p class="chikaren1">京晶倩</p>
     </div>

 </div>
     <div class="green">
         嘉白条智能加密，保障您的用卡安全
     </div>
 </div>
 <div class="sifang" >
   <div class="mma"></div>
     <p>查看支持的银行</p>
 </div>
 <div class="xiayibu" >
     下一步
 </div>
 <div class="zuizui" >
   <label >
       密码：<input type="number" name="password" placeholder="请输入银行卡号">
   </label>
 </div>