<nav class="top_product_bar">
    <div class="tab_box"></div>
    <div class="product_nav_contain">


        <div class="content">

            <div class="nav_tab">取消
        </div>
        <a class="right">&nbsp;</a>
    </div>
    </div>
</nav>