<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/basic/metaNormal.ejs') %>
    <title>添加银行卡</title>
</head>

<body>

<%- include('../../component/shizhan3/shizhan3-1.ejs') %>

</body>

</html>