<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<style>

    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add,.reduce{
        font-size: 30px;
        margin: 0 10px;
    }
    input{
        font-size: 20px;
    }
</style>
<body>

<div>
    <span class="reduce">-</span>
    <input value="1" class="inputele">
    <span class="add">+</span>
</div>
<script>

    function changeValue(){

        var addEle=document.getElementsByClassName('add')[0];

        var reduceEle=document.getElementsByClassName('reduce')[0];

        var thisValue=document.getElementsByClassName('inputele')[0].value;


        addEle.addEventListener("click",function(){

            thisValue++;

            document.getElementsByClassName('inputele')[0].value= thisValue
        });

        reduceEle.addEventListener("click",function(){
            thisValue--;

            if(thisValue<=1){

                thisValue=1;

            }

            document.getElementsByClassName('inputele')[0].value= thisValue
        })

    }


    changeValue()


</script>
</body>
</html>