<div class="product_prompt_buy">

    <div class="jf_pop_up" id="product_prompt_buy">

        <div class="jf_pop_up_main">

            <div class="pop_top">

                <div class="pop_title">请选择</div>

                <div class="pop_cancel"></div>

                <div class="pop_line"></div>

            </div>

            <div class="pop_main">
                <div class="pop_content">
                    <!--sku 颜色-->
                    <div class="sku_title">颜色</div>
                    <div class="sku_contain">
                        <div class="sku_box">玫瑰金</div>
                        <div class="sku_box">陶瓷白</div>
                        <div class="sku_box">草木绿</div>
                        <div class="sku_box">曜石黑</div>
                        <div class="sku_box">优雅灰</div>

                    </div>
                </div>
                <a class="product_prompt_btn orange">
                    <div>加入购物车</div>
                </a>
            </div>
        </div>

        <div class="jf_pop_up_bg">

        </div>

    </div>

</div>
<script>

    show1=new jfShowPop({'ele':'product_prompt_buy'})


</script>