
    <div class="jf_pop_up" id="product_prompt_buy">

        <div class="jf_pop_up_main">

            <div class="pop_top">

                <div class="pop_title">请选择</div>

                <div class="pop_cancel"></div>

                <div class="pop_line"></div>

            </div>

            <div class="pop_main">
                <div class="pop_content">
                    <!--sku 颜色-->
                    <div class="sku_title">颜色</div>
                    <div class="sku_contain">
                        <div class="sku_box choose_tab">标配版</div>
                        <div class="sku_box">保护套装</div>
                    </div>
                    <!--sku 颜色-->
                    <div class="sku_title">版本</div>
                    <div class="sku_contain">
                        <div class="sku_box choose_tab">11.6英寸</div>
                        <div class="sku_box">13.3英寸</div>
                    </div>
                    <!--sku 选择配置-->
                    <div class="sku_title">选择配置</div>
                    <div class="sku_contain">
                        <div class="sku_box choose_tab">双核i5/4GB内存/128GB闪存</div>
                        <div class="sku_box">双核i5/8GB内存/128GB闪存</div>
                        <div class="sku_box">双核i5/8GB内存/256GB闪存</div>
                        <div class="sku_box">双核i5/8GB内存/256GB闪存</div>
                        <div class="sku_box">双核i5/16GB内存/128GB闪存</div>
                        <div class="sku_box">双核i5/16GB内存/256GB闪存</div>
                        <div class="sku_box">双核i5/8GB内存/256GB闪存</div>
                        <div class="sku_box">双核i5/8GB内存/256GB闪存</div>
                        <div class="sku_box out_of_stock">定制款：双核i7/8GB内存/128GB闪存</div>
                    </div>
                </div>
                <!--数量-->
                <div class="sku_volume_purchased">
                    <div>数量</div>
                    <div>
                        <span class="reduce">－</span>
                        <input type="number" pattern="[0-9]*" maxlength="6" class="volume_input" value="1"/>
                        <span class="add">＋</span>
                    </div>
                </div>
                <!-- -->
                <div class="prompt_btn">
                    <a class="product_prompt_btn red hidebtn">
                        <div>立即购买</div>
                    </a>
                    <a class="product_prompt_btn orange">
                        <div>加入购物车</div>
                    </a>
                </div>

            </div>
        </div>

        <div class="jf_pop_up_bg">

        </div>

    </div>

<script>

    //弹出框方法
    showProductSku=new jfShowPop({'ele':'product_prompt_buy'})


    //sku 选择

    jfProductDetails.clickTabChange(document.getElementsByClassName('sku_contain')[0], 'choose_tab','sku_box');

    jfProductDetails.clickTabChange(document.getElementsByClassName('sku_contain')[1], 'choose_tab','sku_box');

    jfProductDetails.clickTabChange(document.getElementsByClassName('sku_contain')[2], 'choose_tab','sku_box');

    //购物车加减
    jfProductDetails.numChangeValue();


</script>