<div class="product_images_service">
    <div class="service_title"><img src="../../images/product_details_6_service.png">相关售后</div>
    <div class="service_clause">
        <div>
            <p>【关于】</p>
            <p>嘉福京东商城是与京东品台对接的嘉福子站。</p>
        </div>
        <div>
            <p>【货源】</p>
            <p>商品及货源都是<span>京东自营商品</span>，并由京东发货，售后无忧。</p>
        </div>
        <div>
            <p>【价格】</p>
            <p>由嘉福定价，部分商品比京东便宜是因为<span>嘉福让利或补贴</span>。</p>
        </div>
        <div>
            <p>【售后】</p>
            <p> 拨打京东售后电话<span>400-6066866</span>，告知嘉福订单详情页面里的“京东订单号”即可进行保修、换货等售后服务，与在京东商城购物售后一样。</p>
        </div>
        <div>
            <p>【配送】</p>
            <p>京东<span>满99元国内包邮</span>，下单后京东统一配送。</p>
        </div>
        <p class="end_of_shopping"><span>◎</span> 嘉福真诚期待您的到来，祝您购物愉快 <span>◎</span></p>
        <p class="tel"><span>◎ 嘉福客服：</span>400-821-6000</p>
        <p class="tel"><span>◎ 在线时间：</span>工作日9:00-17:30</p>
    </div>
</div>