<div class="product_images_nav">
    <!-- 向下滑动 -->
    <div class="slide_down">— <img src="../../images/product_details_4_down.png">向下进入详情页 —</div>
    <!-- nav -->
    <div class="images_nav">
        <a class="choose_nav">图文详情</a>
        <a>规格参数</a>
        <a>售后相关</a>
    </div>
</div>
