<!-- 顶部导航 -->
<nav class="top_search_bar">
    <div class="tab_box"></div>
    <div class="top_search_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <a class="content" href="../jdshop_search/search.html">
            <div class="search_tab jdshop_alignment_middle">
                <i></i><span>查找您需要的商品</span>
            </div>
        </a>
        <a class="right">
        </a>
    </div>
</nav>
<!-- 固定tab-->
<div class="search_results_nav">
    <div class="tab_box"></div>
    <div class="search_nav_content">
       <!-- 销量 -->
        <div class="search_tab select_tab">销量</div>
        <!-- 价格 -->
        <div class="price">
            <div class="search_tab arrow up_arrow">▲</div>
            <div class="search_tab arrow down_arrow">▼</div>
            <span>价格</span>
        </div>
        <!-- 有无货 -->
        <div class="in_stock">
            <!--<span class="tick"></span>-->

            <label>仅看有货<input class="radio" type="checkbox" name="radio"></label>
        </div>
        <!-- 地址 -->
        <div class="search_address" onclick="productAddress.show({fn:

function(){

     shoppingCart.run({
     api: '../../api/address.json',
     type: 'get',
     targetDom:document.getElementById('search_address_show'),
     fn:function() {
       productAddress.hide()
     }

     })

}

})"><span id="search_address_show">上海市，浦东新区,城区啦啦啦</span><img src="../../images/product_go.png"></div>

    </div>


</div>

<div class="search_results_content">

    <%- include('search_results_list/search_results_1_list.ejs') %>

</div>

<!--地址选择-->
<div class="address_dialog">

    <%- include('../product/product_prompt/product_prompt_1_address.ejs')%>

</div>

<script>

    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })

    //选择tab
/*    jfProductDetails.clickTabChange(document.getElementsByClassName('search_nav_content')[0],'select_tab','tab')*/

    //有无货选择
    tickChoose();

    //价格高低选择

    priceChoose()

    //地址选择

    productAddress = new jfShowPop({'ele': 'product_address'})


</script>
